@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
    font-weight: 500;
}

ul, li{
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    color: inherit;
    font-size: inherit;
}

body {
    font-family: 'Jua', sans-serif;
    font-size: 18px;
    color: #181818;
}